requirements.txtaiobotocore==2.4.0
aiohttp==3.8.3
aioitertools==0.11.0
aiosignal==1.2.0
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.1.0
aws-shell==0.2.2
awscli==1.31.13
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
BenderLibIsengard @ git+ssh://git.amazon.com/pkg/BenderLibIsengard@1809f094732dceae1b03f8c1df48c71e69a414bc
bleach==5.0.1
boto3==1.33.13
boto3-stubs==1.26.0
botocore==1.33.13
botocore-stubs==1.28.5
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.4
configobj==5.0.8
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
docutils==0.16
entrypoints==0.4
fastjsonschema==2.16.2
frozenlist==1.3.1
fsspec==2022.10.0
idna==3.4
importlib-metadata==5.0.0
importlib-resources==5.10.0
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.2
jmespath==0.10.0
json5==0.9.10
jsonschema==4.16.0
jupyter-server==1.21.0
jupyter_client==7.4.4
jupyter_core==4.11.2
jupyterlab==3.5.0
jupyterlab-pygments==0.2.2
jupyterlab_server==2.16.2
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mistune==2.0.4
multidict==6.0.2
mypy-boto3-athena==1.26.0
mypy-boto3-cloudformation==1.26.0
mypy-boto3-dynamodb==1.26.0
mypy-boto3-ec2==1.26.0
mypy-boto3-lambda==1.26.0
mypy-boto3-rds==1.26.0
mypy-boto3-s3==1.26.0
mypy-boto3-sqs==1.26.0
mysql-connector==2.2.9
mysql-connector-python==8.0.33
nbclassic==0.4.7
nbclient==0.7.0
nbconvert==7.2.3
nbformat==5.7.0
nest-asyncio==1.5.6
notebook==6.5.2
notebook_shim==0.2.0
numpy==1.21.6
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
pkgutil_resolve_name==1.3.10
plotly==5.11.0
plotly-express==0.4.1
polars==0.14.24
prometheus-client==0.15.0
prompt-toolkit==1.0.18
protobuf==3.20.3
psutil==5.9.3
ptyprocess==0.7.0
pyarrow==10.0.0
pyasn1==0.5.1
pyathena==2.14.0
pycparser==2.21
Pygments==2.13.0
pyparsing==3.0.9
pyrsistent==0.19.1
python-dateutil==2.8.2
python-dotenv==0.21.1
pytz==2022.6
PyYAML==6.0.1
pyzmq==24.0.1
requests==2.28.1
rsa==4.7.2
s3fs==2022.10.0
s3transfer==0.8.2
scipy==1.7.3
Send2Trash==1.8.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
statsmodels==0.13.3
tenacity==8.1.0
terminado==0.17.0
tinycss2==1.2.1
tomli==2.0.1
tornado==6.2
traitlets==5.5.0
types-awscrt==0.15.1
types-s3transfer==0.6.0.post4
typing_extensions==4.4.0
urllib3==1.26.12
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
wrapt==1.14.1
yarl==1.8.1
zipp==3.10.0
